body {
  margin: 0;
  height: 93vh;
  padding: 5vh 3vw;
  color: #000;
  background: #e0e0e0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  max-width: 450px;
}

.Header-link {
  text-decoration: none;
  color: inherit;
}

.Header-title {
  font-size: 3rem;
  margin: 0;
  text-shadow: 0 0 25px #fff;
  font-family: 'Sorts Mill Goudy', serif;
  text-align: center;
}

.Photo {
  padding: 35px;
}

.Photo-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 0 500px #fff;
}

.Figure {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 15px 25px;
  text-align: center;
  box-sizing: border-box;
}

.Figure-title:before {
  content: 'Fig. 1';
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
  left: -10px;
  top: 0;
  border-bottom: 1px solid #000;
  line-height: 1.2;
}

.Figure-title {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 35px;
  padding-bottom: 10px;
}

.Figure-details {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.9rem;
  line-height: 1;
}

.Figure-link {
  color: inherit;
  text-decoration: none;
}

.Figure-link:hover,
.Figure-link:focus {
  text-decoration: underline;
}

.Divider {
  width: 1px;
  height: 100%;
  flex-grow: 1;
  background-color: #000;
  border-width: 0;
  margin: 3vh;
}

.Contact {
  width: 100%;
  box-sizing: border-box;
  text-shadow: 0 0 25px #fff;
}

.Contact-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.Contact-item {
  display: inline-block;
}

.Contact-link {
  opacity: 0.65;
}

.Contact-link:hover,
.Contact-link:focus {
  opacity: 1;
}

.Icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  box-shadow: 0 0 500px #fff;
}

.Icon--twitter {
  background: transparent url(/assets/twitter.png) no-repeat center center;
  background-size: contain;
}

.Icon--github {
  background: transparent url(/assets/github.png) no-repeat center center;
  background-size: contain;
}

.Icon--linkedin {
  background: transparent url(/assets/linkedin.png) no-repeat center center;
  background-size: contain;
}

.u-screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
