body {
  margin: 0;
  height: 100vh;
  padding: 5vh 3vw;
  color: #000;
  background: rgba(224, 224, 224, 1.0);
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

.vcard {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  max-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  text-shadow: 0 0 25px #fff;
  font-family: 'Sorts Mill Goudy', serif;
}

#avatar {
  padding: 35px;
}

.photo {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 0 0 500px #fff;
}

.Figure {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 15px 25px;
  text-align: center;
  box-sizing: border-box;
}

.Figure-title:before {
  content: 'F. 1';
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
  left: 0;
  top: 0;
  border-bottom: 1px solid #000;
  line-height: 1.2;
}

.Figure-title {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 35px;
  padding-bottom: 10px;
}

.Figure-details {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 0.8rem;
  line-height: 1;
}

hr {
  width: 1px;
  height: 100%;
  flex-grow: 1;
  background-color: #000;
  border-width: 0;
  margin: 35px;
}

#contact {
  width: 100%;
  box-sizing: border-box;
  text-shadow: 0 0 25px #fff;
}

#contact ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

#contact li {
  display: inline-block;
}
